WEBSOCKET_ENDPOINT=""
RPC_URL=""
PUBLIC_KEY=""
PUBLIC_KEY_1=""
AML_PRIVATE_KEY=""
AML_SIGNER_KEY=""
PRIVATE_KEY=""
PRIVATE_KEY_1=""
FACTORY_ADDRESS=""
TOKEN_ADDRESS=""
SHARED_TOKEN_ADDRESS=""
AML_UTILS_CONTRACT=""
DEPOSITOR_CONTRACT=""
WITHDRAWAL_CONTRACT=""
DEPOSITOR_FACTORY_CONTRACT=""
WITHDRAWAL_FACTORY_CONTRACT=""
DEPOSITOR_CLONE_ADDRESS=""
WITHDRAWAL_CLONE_ADDRESS=""
